@{
    ViewData["Title"] = "Contact";
}
<h2>Contato</h2>
<h3>Raphael Bertholato Scursoni</h3>

<address>
    <strong>Trainee Analista de Sistemas</strong><br />
    Rua Ademir dos Santos, Cabreúva, SP.<br />
    (11)97380-2722
</address>

<address>
    <strong>LinkedIn:</strong>  <a href="https://www.linkedin.com/in/raphael-scursoni/">https://www.linkedin.com/in/raphael-scursoni/</a><br />
    <strong>GitHub:</strong>  <a href="https://github.com/RaphaelScursoni">https://github.com/RaphaelScursoni</a> <br />
</address>

<address>
    <strong>E-mail de Contato:</strong> ra.scursoni@gmail.com<br />
</address>
