@{
    ViewData["Title"] = "Contact";
}
<h2>Contato</h2>
<h3>Raphael Bertholato Scursoni</h3>

<address>
    <strong>Analista de Sistemas JR</strong><br />
    Rua Ademir dos Santos, Cabreúva, SP.<br />
    (11)97380-2722
</address>

<address>
    <strong>E-mail de Contato:</strong> <a href="ra.scursoni@gmail.com">ra.scursoni@gmail.com</a><br />
</address>
