@{
    ViewData["Title"] = "Contact";
}
<h2>Contato</h2>
<h3>Raphael Bertholato Scursoni</h3>

<address>
    <strong>Trainee Analista de Sistemas</strong><br />
    Rua Ademir dos Santos, Cabreúva, SP.<br />
    (11)97380-2722
</address>

<address>
    <strong>E-mail de Contato:</strong> ra.scursoni@gmail.com<br />
</address>
